<a href="https://colab.research.google.com/github/almedida/car_price_prediction/blob/main/automobile_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [74]:
#import libraries

import pandas as pd
import numpy as np
import matplotlib.pylab as plt

In [78]:
# Read the data from online on "data_df"

other_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"
data_df = pd.read_csv(other_path, header=None)

#save a copy of the data
data_df.to_csv("automobile.csv", index = "FALSE")

In [79]:
#read new downloaded data

df = pd.read_csv("automobile.csv", header = None, sep=",")

df.head()

    0   1    2            3    4    5   ...    21   22    23  24  25     26
0  NaN   0    1            2    3    4  ...  20.0   21    22  23  24     25
1  0.0   3    ?  alfa-romero  gas  std  ...   9.0  111  5000  21  27  13495
2  1.0   3    ?  alfa-romero  gas  std  ...   9.0  111  5000  21  27  16500
3  2.0   1    ?  alfa-romero  gas  std  ...   9.0  154  5000  19  26  16500
4  3.0   2  164         audi  gas  std  ...  10.0  102  5500  24  30  13950

[5 rows x 27 columns]

In [80]:
#delete first column
del df[0]
df.head()

   1    2            3    4    5     6   ...    21   22    23  24  25     26
0   0    1            2    3    4     5  ...  20.0   21    22  23  24     25
1   3    ?  alfa-romero  gas  std   two  ...   9.0  111  5000  21  27  13495
2   3    ?  alfa-romero  gas  std   two  ...   9.0  111  5000  21  27  16500
3   1    ?  alfa-romero  gas  std   two  ...   9.0  154  5000  19  26  16500
4   2  164         audi  gas  std  four  ...  10.0  102  5500  24  30  13950

[5 rows x 26 columns]

In [76]:
#create header list

headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
print("headers \n", headers)

headers
 ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']

In [81]:
df.columns = headers

In [82]:
df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          0                 1            2  ...       23          24     25
1          3                 ?  alfa-romero  ...       21          27  13495
2          3                 ?  alfa-romero  ...       21          27  16500
3          1                 ?  alfa-romero  ...       19          26  16500
4          2               164         audi  ...       24          30  13950

[5 rows x 26 columns]

In [83]:
#data cleaning/wrangling
#replacing missing values with NaN

df_rep = df.replace("?", np.nan, inplace=True)
df = df_rep

In [84]:
#df.dropna(subset= ['price'], axis=0)
df.head()

AttributeError: ignored

In [85]:
#inspect the attribute datatypes
df.dtypes
#df.info()

AttributeError: ignored

In [25]:
#convert price to to float data type
df['price'] = pd.to_numeric(df['price'])

In [27]:
#get the summary statistics
df.describe(include= 'all')

         symboling normalized-losses  ... highway-mpg         price
count   206.000000               165  ...  206.000000    202.000000
unique         NaN                52  ...         NaN           NaN
top            NaN               161  ...         NaN           NaN
freq           NaN                11  ...         NaN           NaN
mean      0.830097               NaN  ...   30.718447  13141.871287
std       1.243625               NaN  ...    6.885712   7981.346718
min      -2.000000               NaN  ...   16.000000     25.000000
25%       0.000000               NaN  ...   25.000000   7775.000000
50%       1.000000               NaN  ...   30.000000  10270.000000
75%       2.000000               NaN  ...   34.000000  16500.000000
max       3.000000               NaN  ...   54.000000  45400.000000

[11 rows x 26 columns]