<a href="https://colab.research.google.com/github/almedida/car_price_prediction/blob/main/automobile_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#import libraries

import pandas as pd
import numpy as np

In [3]:
# Read the data from online on "data_df"

other_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"
data_df = pd.read_csv(other_path, header=None)

#save a copy of the data
data_df.to_csv("automobile.csv", index = "FALSE")

In [4]:
#read new downloaded data

df = pd.read_csv("automobile.csv", header = None, sep=",")

In [7]:
del df[0]

In [8]:
df.head()

   1    2            3    4    5     6   ...    21   22    23  24  25     26
0   0    1            2    3    4     5  ...  20.0   21    22  23  24     25
1   3    ?  alfa-romero  gas  std   two  ...   9.0  111  5000  21  27  13495
2   3    ?  alfa-romero  gas  std   two  ...   9.0  111  5000  21  27  16500
3   1    ?  alfa-romero  gas  std   two  ...   9.0  154  5000  19  26  16500
4   2  164         audi  gas  std  four  ...  10.0  102  5500  24  30  13950

[5 rows x 26 columns]

In [5]:
#create header list

headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
print("headers \n", headers)

headers
 ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']

In [9]:
df.columns = headers

In [9]:
df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          0                 1            2  ...       23          24     25
1          3                 ?  alfa-romero  ...       21          27  13495
2          3                 ?  alfa-romero  ...       21          27  16500
3          1                 ?  alfa-romero  ...       19          26  16500
4          2               164         audi  ...       24          30  13950

[5 rows x 26 columns]

In [15]:
#preview the data and data cleaning/wrangling
#replacing missing values with NaN

df_rep = df.replace('?', np.NaN)
df = df_rep

In [19]:
df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          0                 1            2  ...       23          24     25
1          3               NaN  alfa-romero  ...       21          27  13495
2          3               NaN  alfa-romero  ...       21          27  16500
3          1               NaN  alfa-romero  ...       19          26  16500
4          2               164         audi  ...       24          30  13950

[5 rows x 26 columns]

In [20]:
df.dropna(subset= ['price'], axis=0)

     symboling normalized-losses         make  ... city-mpg highway-mpg  price
0            0                 1            2  ...       23          24     25
1            3               NaN  alfa-romero  ...       21          27  13495
2            3               NaN  alfa-romero  ...       21          27  16500
3            1               NaN  alfa-romero  ...       19          26  16500
4            2               164         audi  ...       24          30  13950
..         ...               ...          ...  ...      ...         ...    ...
201         -1                95        volvo  ...       23          28  16845
202         -1                95        volvo  ...       19          25  19045
203         -1                95        volvo  ...       18          23  21485
204         -1                95        volvo  ...       26          27  22470
205         -1                95        volvo  ...       19          25  22625

[202 rows x 26 columns]

In [17]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [21]:
#convert price to to float data type
df['price'] = pd.to_numeric(df['price'])

In [27]:
df.dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          206 non-null    int64
 1   normalized-losses  165 non-null    object
 2   make               206 non-null    object
 3   fuel-type          206 non-null    object
 4   aspiration         206 non-null    object
 5   num-of-doors       204 non-null    object
 6   body-style         206 non-null    object
 7   drive-wheels       206 non-null    object
 8   engine-location    206 non-null    object
 9   wheel-base         206 non-null    float64
 10  length             206 non-null    float64
 11  width              206 non-null    float64
 12  height             206 non-null    float64
 13  curb-weight        206 non-null    int64
 14  engine-type        206 non-null    object
 15  num-of-cylinders   206 non-null    object
 16  engine-size        206 non-null    int64
 17  fuel-system        206 non-null    object
 18  bore               202 non-null    object
 19  stroke             202 non-null    object
 20  compression-ratio  206 non-null    float64
 21  horsepower         204 non-null    object
 22  peak-rpm           204 non-null    object
 23  city-mpg           206 non-null    int64
 24  highway-mpg        206 non-null    int64
 25  price              202 non-null    float64
dtypes: float64(6), int64(5), object(15)
memory usage: 42.0+ KB

In [25]:
#get the summary statistics
df.describe(include = 'all')

         symboling normalized-losses  ... highway-mpg         price
count   206.000000               165  ...  206.000000    202.000000
unique         NaN                52  ...         NaN           NaN
top            NaN               161  ...         NaN           NaN
freq           NaN                11  ...         NaN           NaN
mean      0.830097               NaN  ...   30.718447  13141.871287
std       1.243625               NaN  ...    6.885712   7981.346718
min      -2.000000               NaN  ...   16.000000     25.000000
25%       0.000000               NaN  ...   25.000000   7775.000000
50%       1.000000               NaN  ...   30.000000  10270.000000
75%       2.000000               NaN  ...   34.000000  16500.000000
max       3.000000               NaN  ...   54.000000  45400.000000

[11 rows x 26 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          206 non-null    int64
 1   normalized-losses  165 non-null    object
 2   make               206 non-null    object
 3   fuel-type          206 non-null    object
 4   aspiration         206 non-null    object
 5   num-of-doors       204 non-null    object
 6   body-style         206 non-null    object
 7   drive-wheels       206 non-null    object
 8   engine-location    206 non-null    object
 9   wheel-base         206 non-null    float64
 10  length             206 non-null    float64
 11  width              206 non-null    float64
 12  height             206 non-null    float64
 13  curb-weight        206 non-null    int64
 14  engine-type        206 non-null    object
 15  num-of-cylinders   206 non-null    object
 16  engine-size        206 non-null    int64
 17  fuel-system        206 non-null    object
 18  bore               202 non-null    object
 19  stroke             202 non-null    object
 20  compression-ratio  206 non-null    float64
 21  horsepower         204 non-null    object
 22  peak-rpm           204 non-null    object
 23  city-mpg           206 non-null    int64
 24  highway-mpg        206 non-null    int64
 25  price              202 non-null    float64
dtypes: float64(6), int64(5), object(15)
memory usage: 42.0+ KB